@import "tailwindcss";
@plugin "daisyui";
.btn {
    background: linear-gradient(30deg, #ff87b3, #f8db64, #74ffc8);
    @apply px-4 py-2 rounded-lg font-bold text-gray-700;
    color: gray;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}
.bg-toy {
 background: linear-gradient(to right, #fbcfe8, #fef9c3, #bfdbfe  );
    }
body{
    background-color: #f3f4f6;
}
.active{
    background: linear-gradient(135deg, #6c47ff 0%, #a970ff 100%);
        color: #fff ;
            font-weight: 600;
            box-shadow: 0 4px 12px rgba(124, 74, 255, 0.45);
 }
 .bg-footer {
     background: linear-gradient(to right, #fbcfe8, #fde68a, #bfdbfe, #bbf7d0)
  
 }
.gradient-text {
    background: linear-gradient(to right, #e663ad, #ccb65c, #4f8dd8, #44c471);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}